.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: var(--base-space);
}

.title {
    font-family: 'ForestSmooth';
    font-size: 6rem;
    font-weight: 200;
    color: var(--accent-red);
    justify-self: center;
    padding-top: 1.5rem;
}